.third-section__title {
    margin: 15px 0 0 10px;
    font-size: 48px;
    font-style: italic;
}

@media (max-width: 750px) {
    .third-section__title {
        font-size: 38px;
    }
}

@media (max-width: 380px) {
    .third-section__title {
        font-size: 28px;
    }
}