.second-section__btn {
  width: 80px;
  height: 80px;
  border: none;
  background-color: hsl(259, 100%, 65%);
  background-image: url(/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  position: absolute;
  right: 5%;
  top: -30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.second-section__btn:hover {
  background-color: hsl(0, 0%, 8%);
}

@media (max-width: 750px) {
  .second-section__btn {
    right: 50%;
    transform: translate(50%);
  }
}

@media (max-width: 510px) {
  .second-section__btn {
    top: -25px;
    width: 65px;
    height: 65px;
  }
}
